*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

*.iml
*.ipr
*.iws
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/dictionaries/
.idea/caches/




**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
android/.gradle/
android/app/build/
android/app/debug
android/app/profile
android/app/release


.gradle/
**/build/
**/out/
local.properties  # Machine-specific file (ignore it)
gradle.properties  # Ignore it unless necessary
/.gradle/
/gradle/
/gradlew
/gradlew.bat
/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties

# Android Configuration & Manifest
android.xml
android/app/src/main/res/xml/
!android/app/src/main/res/xml/android.xml


app.*.symbols


app.*.map.json
